# Local development environment variables for ocppsigen2mqtt

OCPP_HOST=0.0.0.0
OCPP_PORT=9200
CHARGER_ID=120A64150210
RFID_TAG=HomeAssistant
USABLE_PHASES=2

MQTT_HOST=192.168.50.11
MQTT_PORT=1883
MQTT_USER=your_mqtt_username
MQTT_PASS=your_mqtt_password
MQTT_CLIENT_ID=ocppsigen2mqtt-dev
MQTT_TOPIC_PREFIX=dev/ocpp

LOG_LEVEL=DEBUG
